<div class="content">
<div class="jumbotron">
    <h1>Movies<br></h1>
    <hr>
    <p class="lead">Codingarena/movies is a lovely &amp; simple way to keep track of the latest and upcoming movies..!</p>
</div>

<p class="text-center"><a href="#/boxoffice" class="btn btn-primary">Get Started</a></p>
<div class="row text-center">
  <div class="col-lg-4 text-center">
    <div class="thumby">
      <span><i class="glyphicon glyphicon-tags"></i></span>
      <h3>Categories</h3>
      <p>Movies are categorised into various categories like BoxOffice, InTheaters, Upcoming..</p>
    </div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="thumby">
      <span><i class="glyphicon glyphicon-star"></i></span>
      <h3>Reviews</h3>
      <p>Get latest reviews from critics and audience on a particular movie</p>
    </div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="thumby">
      <span><i class="glyphicon glyphicon-plus"></i></span>
      <h3>Follow</h3>
      <p>Subscribe to get the latest news and reviews.</p>
    </div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="thumby">
      <span><i class="glyphicon glyphicon-retweet"></i></span>
      <h3>Like</h3>
      <p>Like the movies you enjoyed!</p>
    </div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="thumby">
      <span><i class="glyphicon glyphicon-plus"></i></span>
      <h3>Favourite</h3>
      <p>Favourite your movie collection !</p>
    </div>
  </div>
  <div class="col-lg-4 text-center">
    <div class="thumby">
      <span><i class="glyphicon glyphicon-share"></i></span>
      <h3>Share</h3>
      <p>Share the love with your friends &amp; followers!</p>
    </div>
  </div>
</div>
</div>
<div class="row">&nbsp;</div>